@model NewVevo.Models.HistoryModel

@using Humanizer

<!DOCTYPE html>
<html>
<head>
    <title>Video Roulette</title>
    <link rel="stylesheet" href="/web/style.css" />
    <link rel="stylesheet" href="/css/font-awesome.css" />
    <meta name="viewport" content="initial-scale=1.0,width=device-width">
</head>
<body>
    <div class="center">
        <div class="main-view active">
            @if (!Model.IsValid)
            {
                <h1>Watch History</h1>
                <p>Sorry . . . you need to enter a user name!</p>
            }
            else
            {
                <h1><i class="fa fa-clock-o"></i> Watch History -- @Model.WatchHistory.Count Videos</h1>
                <div id="history" class="watch-history">
                    @if (Model.WatchHistory.Count == 0)
                    {
                        <p>No Videos!</p>
                    }
                    else
                    {
                        foreach (var vid in Model.WatchHistory)
                        {
                            <div>
                                <a href="http://www.vevo.com/watch/@vid.Video.Isrc?utm_source=vevo_roulette&utm_medium=history&utm_campaign=beta" target="_blank" style="text-align:left">
                                    <span>@vid.Video.Title by @vid.Video.Artist</span>
                                    <span><i class="fa fa-clock-o"></i> @vid.AmountWatched.Humanize()</span>
                                </a>
                            </div>
                        }
                    }

                </div>
            }
        </div>

    </div>

</body>

</html>