<!DOCTYPE html>
<html>
<head>
    <title>Video Roulette</title>
    <link rel="stylesheet" href="/web/style.css" />
    <link rel="stylesheet" href="/css/font-awesome.css" />
    <meta name="viewport" content="initial-scale=1.0,width=device-width">
</head>
<body>
    <div class="center">
        <a href="http://bit.ly/1JRoa85">
            <img src="~/Web/facts2.png" width="100%" />
        </a>
    </div>

</body>

</html>